<%- include('header');  -%>

<h2>This is the about page.</h2>

<p>
    This is the random paragraphs.
    This is the random paragraphs.
    This is the random paragraphs.
    This is the random paragraphs.
    This is the random paragraphs.
    This is the random paragraphs.
    This is the random paragraphs.
</p>

<%- include('footer');  -%>